[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

colorama = "*"
gitpython = "*"
pytest = "*"
pytest-watch = "*"
tabulate = "*"
yaspin = "*"


[requires]

python_version = "3.6"
